main{
	height: 500px;
	border: 2px solid green;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 500px;
	border: 2px dashed purple;
	margin:auto;
	}
.flex-container > div {
	background-color: hotpink;
	padding:30px;
	margin: 20px;
	font-size:30px;
	color:blue;
	border: 1px solid red;
	}